<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stematel.pipi">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pipi"
        tools:ignore="AllowBackup">
        <activity android:name=".DetailSoalActivity"></activity>
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".VideoIps1Activity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".VideoIpa1Activity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".VideoBing1Activity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".VideoBindo1Activity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".MateriIpsBab1Activity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MateriIpaBab1Activity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MateriBingBab1Activity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MateriIndoBab1Activity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".GudangActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".BelanjaActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MateriMtkBab1Activity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".VideoMtk1Activity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".MatematikaActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MatematikaBabCoActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".PilihKelasActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".intro"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".RegisterProfileActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".LupaPasswordActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Bing_Activity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Indo_Activity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Ipa_Activity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Ips_Activity"
            android:screenOrientation="nosensor" />
    </application>

</manifest>